body {
}


:root {
    --header-footer-color: #0042B8;
    --navbar-color: #f5f5f5;
    --text-navbar-color: #ffffff;

}

header, footer{
    background-color: var(--header-footer-color);
    color: var(--text-navbar-color);
}

/*.nav {
    color:black;
}

nav a {
    color:black;
 
}*/





.btnCaroecelDefault {
    display: inline-block; /* prevents full width stretch */
    width: auto; /* ensure it doesn't take 100% */
    padding: 10px 20px;
    background-color: var(--header-footer-color);
    color: var(--text-navbar-color);
    text-decoration: none;
  
}