body {
}


:root {
    --header-footer-color: #0042B8;
    --navbar-color: #f5f5f5;
    --text-navbar-color: #ffffff;

}

header, footer, .btnAanmelden{
    background-color: var(--header-footer-color);
    color: var(--text-navbar-color);
}

/*.nav {
    color:black;
}

nav a {
    color:black;
 
}*/





.btnCaroecelDefault {
    display: inline-block; /* prevents full width stretch */
    width: auto; /* ensure it doesn't take 100% */
    padding: 10px 20px;
    background-color: var(--header-footer-color);
    color: var(--text-navbar-color);
    text-decoration: none;
  
}


.h-btn {
    background-color: var(--header-footer-color);
    color: var(--text-navbar-color);
    padding: 10px 20px;
    width: 100%;
}

h3 {
    color:var(--header-footer-color);
}

a {
    text-decoration:none;
}

.btnAanmelden {
    width:100%;
   
}

.lblMessage {

    width:100%;
}